<a href="https://colab.research.google.com/github/shivanshgarg22/shivansh_102317207-Optimus_prime/blob/main/shivansh_102317207_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1->

In [1]:
#Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
l=[10,20,30,40,50,60,70,80]
print(l)

[10, 20, 30, 40, 50, 60, 70, 80]

In [2]:
#WAP to add 200 and 300 to L.
l.append(200)
l.append(300)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [3]:
#WAP to remove 10 and 30 from L.
l.remove(10)
l.remove(30)
print(l)

[20, 40, 50, 60, 70, 80, 200, 300]

In [4]:
#WAP to sort L in ascending order.
l.sort()
print(l)

[20, 40, 50, 60, 70, 80, 200, 300]

In [5]:
#WAP to sort L in descending order.
l.sort(reverse=True)
print(l)

[300, 200, 80, 70, 60, 50, 40, 20]

Q2->

In [7]:
#Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
tuple=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(tuple)

(45, 89.5, 76, 45.4, 89, 92, 58, 45)

In [9]:
#Identify the highest score and its index in the tuple.
a=max(tuple)
print(a)
print("INDEX : ",tuple.index(a))

92
INDEX :  5

In [11]:
#Find the lowest score and count how many times it appears.
a=min(tuple)
print(a)
count=0
for i in range(len(tuple)):
  if(tuple[i]==a):
    count=count+1
print(count)

45
2

In [16]:
#Reverse the tuple and return it as a list.
print(tuple[::-1])
list=list(tuple[::-1])
print(list)

(45, 58, 92, 89, 45.4, 76, 89.5, 45)
[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [34]:
#Check if a specific score â€˜76â€™ (input) is present in the tuple and print its first occurrence index, or a message saying itâ€™s not present.
chk=float(input("ENTER SCORE : "))
if(chk in tuple):
  print(tuple.index(chk))
else:
  print("NOT PRESENT : ")

ENTER SCORE : 76
2

Q3->

In [22]:
#WAP to create a list of 100 random numbers between 100 and 900.
import random as r
a=r.randint(100,900)
listt=[]
for i in range(100):
  listt.append(r.randint(100,900))
print(listt)

[278, 861, 581, 880, 658, 756, 129, 593, 857, 185, 160, 643, 377, 856, 265, 704, 556, 136, 401, 640, 600, 696, 781, 689, 437, 155, 187, 495, 857, 264, 794, 829, 431, 794, 554, 356, 564, 734, 309, 458, 343, 133, 117, 672, 364, 624, 503, 207, 400, 791, 826, 826, 765, 813, 411, 497, 524, 756, 432, 130, 479, 393, 687, 111, 699, 379, 122, 656, 537, 269, 732, 112, 320, 852, 668, 510, 339, 120, 753, 146, 659, 549, 449, 503, 227, 431, 443, 416, 497, 100, 436, 567, 570, 883, 386, 521, 737, 282, 397, 477]

In [30]:
#All odd numbers , All even numbers
print("EVEN : ")
for i in listt:
  if(i%2==0):
    print(i)

print("\nODD : ")
for j in listt:
  if(j%2!=0):
    print(j)

EVEN :
278
880
658
756
160
856
704
556
136
640
600
696
264
794
794
554
356
564
734
458
672
364
624
400
826
826
524
756
432
130
122
656
732
112
320
852
668
510
120
146
416
100
436
570
386
282

ODD :
861
581
129
593
857
185
643
377
265
401
781
689
437
155
187
495
857
829
431
309
343
133
117
503
207
791
765
813
411
497
479
393
687
111
699
379
537
269
339
753
659
549
449
503
227
431
443
497
567
883
521
737
397
477

In [31]:
#All prime numbers
import sympy as s
print("PRIME : ")
for k in listt:
  if(s.isprime(k)):
    print(k)

PRIME :
593
857
643
401
857
829
431
503
479
379
269
659
449
503
227
431
443
883
521
397

Q4->

In [36]:
#Find the unique scores achieved by both teams (union of sets).
A=set([34, 56, 78, 90])
B=set([78, 45, 90, 23])
print(A.union(B))

{34, 45, 78, 23, 56, 90}

In [37]:
#Identify the scores that are common to both teams
print(A.intersection(B))

{90, 78}

In [39]:
#Find the scores that are exclusive to each team
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{34, 45, 23, 56}
{34, 45, 23, 56}

In [43]:
#Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
is_subset = A.issubset(B)
print(f"Is A a subset of B? {is_subset}")
is_superset = B.issuperset(A)
print(f"Is B a superset of A? {is_superset}")

Is A a subset of B? False
Is B a superset of A? False

In [42]:
#Remove a specific score ð‘‹ (input) from set A if it exists. If not, print a message saying it is not present.
x=int(input("ENTER SCORE : "))
if(x in A):
  A.remove(x)
  print(A)
else:
  print("NOT PRESENT : ")

ENTER SCORE : 34
{56, 90, 78}

Q5->

In [46]:
#Write a program to rename a key city to a location in the following dictionary.
sample_dict={"name":"kelly","age":25,"salary":8000,"city":"new york"}
print(sample_dict)
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'new york'}
{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}